.logo {
    font-family: 'Caveat', cursive;
    color: 	#df0021;;
    font-size: 7vw;
    font-weight: 900;
    padding-top: 7vh;
    padding-bottom: 4vh;
}

.fa-gratipay {
    color: 	#df0021;
    font-size: 7vw;
  }