body {
  background-color:#181D21;
}
 
.container-fluid{
  display: flex;
}
.container-card{
  flex-direction: column; 
  align-items: center; 
}
 
.img-responsive{
  width: 100%;
  height: auto;
  margin-top: 20%;
 
}
.card-body{
  background-color: white;
}
.card-title{
  font-size: 26px;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding-top: 5%;
}
.logo {
  font-family: 'Caveat', cursive;
  color: 	#df0021;
  font-size: 30px;
}
 
.fa-gratipay {
  color: 	#df0021;
  font-size: 25px;
}
 
.fa-user {
  font-size: 18px;
  color: #df0021;
}
 
.fa-sign-out-alt {
  font-size: 20px;
  color: #df0021;
}